In [ ]:
!pip install kaggle whatthelang

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 67 bytes

In [ ]:
!kaggle datasets download "alaix14/bitcoin-tweets-20160101-to-20190329"

bitcoin-tweets-20160101-to-20190329.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip bitcoin-tweets-20160101-to-20190329.zip

Archive:  bitcoin-tweets-20160101-to-20190329.zip
  inflating: tweets.csv

In [ ]:
import pandas as pd

df = pd.read_csv('tweets.csv', sep=';').drop(columns=['id', 'user', 'fullname', 'url'])

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.head()

                timestamp  ...                                               text
0  2019-05-27 11:49:14+00  ...  È appena uscito un nuovo video! LES CRYPTOMONN...
1  2019-05-27 11:49:18+00  ...  Cardano: Digitize Currencies; EOS https://t.co...
2  2019-05-27 11:49:06+00  ...  Another Test tweet that wasn't caught in the s...
3  2019-05-27 11:49:22+00  ...  Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4  2019-05-27 11:49:23+00  ...  Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...

[5 rows x 5 columns]

In [ ]:
df.to_csv('tweets_only.csv')

In [ ]:
!ls -lh

total 8.9G
-rw-r--r-- 1 root root 1.6G Jun  9 04:59 bitcoin-tweets-20160101-to-20190329.zip
-rw-r--r-- 1 root root   84 Jun  9 04:50 output_got.csv
drwxr-xr-x 1 root root 4.0K Jun  1 13:40 sample_data
-rw-r--r-- 1 root root 4.0G Nov 23  2019 tweets.csv
-rw-r--r-- 1 root root 3.4G Jun  9 05:26 tweets_only.csv

In [ ]:
import pandas as pd

df = pd.read_csv('tweets_only.csv')

df.head()

KeyboardInterrupt: ignored

In [ ]:
import nltk
import re
from nltk.corpus import stopwords

nltk.download('stopwords')

forbidden_words = set(stopwords.words('english'))

def text_cleaning(text):
    text = str(text)
    text = ' '.join(text.split('.'))
    text = re.sub('\/',' ',text)
    text = text.strip('\'"')
    text = re.sub(r'@([^\s]+)',r'\1',text)
    text = re.sub(r'\\',' ',text)
    text = text.lower()
    text = re.sub('[\s]+', ' ', text)
    text = re.sub(r'#([^\s]+)', r'\1', text)
    text = re.sub('((www\.[^\s]+)|(https?://[^\s]+))',' ',text)
    text = re.sub(r'((http)\S+)','',text)
    text = re.sub(r'\s+', ' ', re.sub('[^A-Za-z]', ' ', text.strip().lower())).strip()
    text = re.sub(r'\W+', ' ', text.strip().lower()).strip()
    text = [word for word in text.split() if word not in forbidden_words]
    
    return ' '.join(text)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
df['text'] = df['text'].apply(lambda text: text_cleaning(text))

         Unnamed: 0  ...                                               text
17341593   16899734  ...  nunca ser pago por navegares na web quem disse...
5703684     5703682  ...  touch btc shitty stick one inclined ride wave ...
5405349     5405348  ...  alts trouble bitcoin endure world baulks energ...

[3 rows x 6 columns]

In [ ]:
df.sample(3)

        Unnamed: 0  ...                                               text
5156708    5156707  ...                                         btc update
7625511    7625503  ...                                       co kcuuxvfii
9880297    9880289  ...  group invested heavily bitcoin rallied multipl...

[3 rows x 6 columns]

In [ ]:
df.to_csv('tweets_only_cleaned.csv')

In [ ]:
!ls -lh

total 12G
-rw-r--r-- 1 root root 1.6G Jun  9 04:59 bitcoin-tweets-20160101-to-20190329.zip
-rw-r--r-- 1 root root   84 Jun  9 04:50 output_got.csv
drwxr-xr-x 1 root root 4.0K Jun  1 13:40 sample_data
-rw-r--r-- 1 root root 4.0G Nov 23  2019 tweets.csv
-rw-r--r-- 1 root root 2.6G Jun  9 05:59 tweets_only_cleaned.csv
-rw-r--r-- 1 root root 3.4G Jun  9 05:26 tweets_only.csv

In [ ]:
len(df['text'])

20606874

In [ ]:
import pandas as pd

df = pd.read_csv('tweets_only_cleaned.csv')

df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0  ...                                               text
0           0  ...  appena uscito un nuovo video les cryptomonnaie...
1           1  ...  cardano digitize currencies eos co ktkqkebls r...
2           2  ...           another test tweet caught stream bitcoin
3           3  ...  current crypto prices btc usd eth usd ltc usd ...
4           4  ...  spiv nosar baz bitcoin asset amp currency co f...

[5 rows x 7 columns]

In [ ]:
!pip install whatthelang

Requirement already satisfied: whatthelang in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: pyfasttext in /usr/local/lib/python3.7/dist-packages (from whatthelang) (0.4.6)
Requirement already satisfied: Cython in /usr/local/lib/python3.7/dist-packages (from whatthelang) (0.29.23)
Requirement already satisfied: cysignals in /usr/local/lib/python3.7/dist-packages (from whatthelang) (1.10.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pyfasttext->whatthelang) (1.19.5)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyfasttext->whatthelang) (0.16.0)

In [ ]:
from whatthelang import WhatTheLang

wtl = WhatTheLang()
langs = []
l = len(df['text'])
p = 0

for i, row in enumerate(df['text']):
    pp = round(((i + 1)/(l) )* 100, 0)
    
    if pp != p:
      print(pp)
      p = pp

    try:
      if len(row) != 0:
            langs.append(wtl.predict_lang(row))
      else:
          langs.append(None)
    except:
        langs.append(None)
        
df['lang'] = langs

In [ ]:
df = df[df['lang'] == 'en']

In [ ]:
df = df.iloc[:, 2:-1]

In [ ]:
df.to_csv('tweets_only_english.csv')

In [ ]:
!ls -lh

total 14G
-rw-r--r-- 1 root root 1.6G Jun  9 04:59 bitcoin-tweets-20160101-to-20190329.zip
drwx------ 5 root root 4.0K Jun  9 06:20 drive
-rw-r--r-- 1 root root   84 Jun  9 04:50 output_got.csv
drwxr-xr-x 1 root root 4.0K Jun  1 13:40 sample_data
-rw-r--r-- 1 root root 4.0G Nov 23  2019 tweets.csv
-rw-r--r-- 1 root root 2.6G Jun  9 05:59 tweets_only_cleaned.csv
-rw-r--r-- 1 root root 3.4G Jun  9 05:26 tweets_only.csv
-rw-r--r-- 1 root root 2.0G Jun  9 06:39 tweets_only_english.csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!cp /content/tweets_only_english.csv '/content/drive/MyDrive/tweets_only_english.csv'

In [ ]:
import pandas as pd

df = pd.read_csv('tweets_only_english.csv').iloc[:, 1:]

df.head()

                timestamp  ...                                               text
0  2019-05-27 11:49:18+00  ...  cardano digitize currencies eos co ktkqkebls r...
1  2019-05-27 11:49:06+00  ...           another test tweet caught stream bitcoin
2  2019-05-27 11:49:22+00  ...  current crypto prices btc usd eth usd ltc usd ...
3  2019-05-27 11:49:25+00  ...  nwoodfine building real bitcoin sv building br...
4  2019-05-27 11:49:32+00  ...  change coming get ready boom another cb jab no...

[5 rows x 5 columns]

In [ ]:
!pip install -U textblob

Requirement already up-to-date: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.2.5)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.15.0)

In [ ]:
from textblob import TextBlob

def sentiment(txt):
    return TextBlob(txt).sentiment.polarity

df['sentiment'] = df['text'].apply(lambda txt: sentiment(txt))

In [ ]:
df.drop(columns=['replies', 'likes', 'retweets']).to_csv('tweets_only_english_with_sentiment.csv')

In [ ]:
!cp /content/tweets_only_english_with_sentiment.csv '/content/drive/MyDrive/tweets_only_english_with_sentiment.csv'

In [ ]:
df.head()

                timestamp  ...  sentiment
0  2019-05-27 11:49:18+00  ...        0.0
1  2019-05-27 11:49:06+00  ...        0.0
2  2019-05-27 11:49:22+00  ...        0.0
3  2019-05-27 11:49:25+00  ...       -0.1
4  2019-05-27 11:49:32+00  ...        0.2

[5 rows x 6 columns]

In [ ]:
!ls -lh

total 16G
-rw-r--r-- 1 root root 1.6G Jun  9 04:59 bitcoin-tweets-20160101-to-20190329.zip
drwx------ 5 root root 4.0K Jun  9 06:20 drive
-rw-r--r-- 1 root root   84 Jun  9 04:50 output_got.csv
drwxr-xr-x 1 root root 4.0K Jun  1 13:40 sample_data
-rw-r--r-- 1 root root 4.0G Nov 23  2019 tweets.csv
-rw-r--r-- 1 root root 2.6G Jun  9 05:59 tweets_only_cleaned.csv
-rw-r--r-- 1 root root 3.4G Jun  9 05:26 tweets_only.csv
-rw-r--r-- 1 root root 2.0G Jun  9 06:39 tweets_only_english.csv
-rw-r--r-- 1 root root 1.9G Jun  9 07:34 tweets_only_english_with_sentiment.csv

In [ ]:
import pandas as pd

df = pd.read_csv('tweets_only_english_with_sentiment.csv').iloc[:, 1:].drop(columns=['text'])

df.head()

                timestamp  sentiment
0  2019-05-27 11:49:18+00        0.0
1  2019-05-27 11:49:06+00        0.0
2  2019-05-27 11:49:22+00        0.0
3  2019-05-27 11:49:25+00       -0.1
4  2019-05-27 11:49:32+00        0.2

In [ ]:
df.to_csv('only_sentiment.csv')

In [ ]:
!cp /content/only_sentiment.csv '/content/drive/MyDrive/only_sentiment.csv'

In [ ]:
!ls -lh

total 16G
-rw-r--r-- 1 root root 1.6G Jun  9 04:59 bitcoin-tweets-20160101-to-20190329.zip
drwx------ 5 root root 4.0K Jun  9 06:20 drive
-rw-r--r-- 1 root root 545M Jun  9 07:39 only_sentiment.csv
-rw-r--r-- 1 root root   84 Jun  9 04:50 output_got.csv
drwxr-xr-x 1 root root 4.0K Jun  1 13:40 sample_data
-rw-r--r-- 1 root root 4.0G Nov 23  2019 tweets.csv
-rw-r--r-- 1 root root 2.6G Jun  9 05:59 tweets_only_cleaned.csv
-rw-r--r-- 1 root root 3.4G Jun  9 05:26 tweets_only.csv
-rw-r--r-- 1 root root 2.0G Jun  9 06:39 tweets_only_english.csv
-rw-r--r-- 1 root root 1.9G Jun  9 07:34 tweets_only_english_with_sentiment.csv

In [ ]:
import pandas as pd

df = pd.read_csv('only_sentiment.csv').iloc[:, 1:]

df.head()

                timestamp  sentiment
0  2019-05-27 11:49:18+00        0.0
1  2019-05-27 11:49:06+00        0.0
2  2019-05-27 11:49:22+00        0.0
3  2019-05-27 11:49:25+00       -0.1
4  2019-05-27 11:49:32+00        0.2

In [ ]:
from datetime import datetime

df['date'] = df['timestamp'].apply(lambda timestamp: str(datetime.strptime(timestamp, '%Y-%m-%d %H:%M:%S+00').date()))

In [ ]:
df.head()

                timestamp  sentiment        date
0  2019-05-27 11:49:18+00        0.0  2019-05-27
1  2019-05-27 11:49:06+00        0.0  2019-05-27
2  2019-05-27 11:49:22+00        0.0  2019-05-27
3  2019-05-27 11:49:25+00       -0.1  2019-05-27
4  2019-05-27 11:49:32+00        0.2  2019-05-27

In [ ]:
df.groupby(['date']).mean().reset_index().to_csv('final_score.csv')

In [ ]:
!cp /content/final_score.csv '/content/drive/MyDrive/final_score.csv'

In [ ]:
!ls -lh

total 16G
-rw-r--r-- 1 root root 1.6G Jun  9 04:59 bitcoin-tweets-20160101-to-20190329.zip
drwx------ 5 root root 4.0K Jun  9 06:20 drive
-rw-r--r-- 1 root root 103K Jun  9 08:04 final_score.csv
-rw-r--r-- 1 root root 545M Jun  9 07:39 only_sentiment.csv
-rw-r--r-- 1 root root   84 Jun  9 04:50 output_got.csv
drwxr-xr-x 1 root root 4.0K Jun  1 13:40 sample_data
-rw-r--r-- 1 root root 4.0G Nov 23  2019 tweets.csv
-rw-r--r-- 1 root root 2.6G Jun  9 05:59 tweets_only_cleaned.csv
-rw-r--r-- 1 root root 3.4G Jun  9 05:26 tweets_only.csv
-rw-r--r-- 1 root root 2.0G Jun  9 06:39 tweets_only_english.csv
-rw-r--r-- 1 root root 1.9G Jun  9 07:34 tweets_only_english_with_sentiment.csv